version: '2'

services:

  base:
    build:
      dockerfile: Dockerfile
      context: .
    entrypoint: /bin/bash
    env_file: .env
    volumes:
      - '.:/home/geolambda/work'

  test:
    build:
      dockerfile: Dockerfile
      context: .
    entrypoint: bash -c 'nosetests -v -s -w /home/geolambda/;'
    env_file: .env
    volumes:
      - './lambda:/home/geolambda/lambda'
      - './test:/home/geolambda/test'

  package:
    build:
      dockerfile: Dockerfile
      context: .
    command:  /home/geolambda/work/lambda/lambda-package.sh
    working_dir: /home/geolambda/work
    volumes:
      - '.:/home/geolambda/work'

